{% extends 'psdf_main/includes/admin_layout.html'%} {% load static %} {% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1 class="h3 mb-2 text-gray-800">{{THIS_USER.id}} - {{THIS_USER.username}}</h1>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show col-md-8" role="alert" style="margin: auto;">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>

    <div class="row">

        <div class="col-lg-12">
            <div class="card shadow mb-4">


                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary text-center">User Details</h6>
                </a>
                <!-- Card Content - Collapse -->

                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6"><strong>Username :  </strong>
                                <h6 class="m-0 font-weight-bold text-danger">{{THIS_USER.username}}</h6>
                            </div>
                            <div class="col-md-6">
                                {% if THIS_USER.active %}
                                <a class="btn btn-success"> Active
                                <i class="fas fa-check"></i>
                            </a> {% else %}
                                <a class="btn btn-danger"> Inactive
                                <i class="fas fa-ban"></i>
                            </a> {% endif %}

                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-6">Entity Name :
                                <h6 class="m-0 font-weight-bold ">{{THIS_USER.utilname}}</h6>
                            </div>

                            <div class="col-md-6">Region :
                                <h6 class="m-0 font-weight-bold">{{THIS_USER.region}}</h6>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">Nodal Officer :
                                <h6 class="m-0 font-weight-bold ">{{THIS_USER.nodal}}</h6>
                            </div>

                            <div class="col-md-6">Contact :
                                <h6 class="m-0 font-weight-bold">{{THIS_USER.contact}}</h6>
                            </div>

                        </div><br>
                        <div class="row">
                            <div class="col-md-6">Address :
                                <h6 class="m-0 font-weight-bold">{{THIS_USER.address}}</h6>
                            </div>
                            <div class="col-md-6">E-mail:
                                <h6 class="m-0 font-weight-bold">{{THIS_USER.email}}</h6>
                            </div>


                        </div><br>
                        <div class="row">
                            <div class="col-md-6">Account Creation date :
                                <h6 class="m-0 font-weight-bold">{{THIS_USER.reqdate}}</h6>
                            </div>
                            <div class="col-md-6">Account acceptance date:
                                <h6 class="m-0 font-weight-bold">{{THIS_USER.aprdate}}</h6>
                            </div>


                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}