{% extends 'psdf_main/includes/admin_layout.html'%} {% load static %} {% block body %}
{% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show col-md-8 text-center" role="alert" style="margin: auto;">
                        {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}<br>
<div class="row">

    <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="text-warning font-weight-bold">Password Control</h6> 
            </div>
            <div class="card-body">
                lorem ipsum and this dipsum

            </div>

        </div>
    </div>
</div>    
<div class="row ">
    <div class="col-md-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="text-danger font-weight-bold">Administrator password change</h6> 
        </div>
        <div class="card-body">
    <form action="{% url 'admin_password_page' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <h6 class="font-weight-bold text-primary col-md-4">Enter Current password</h6>
            <input type="password" class="form-control container-fluid col-md-8" name="adminpass" id="adminpass" placeholder="Current password">
        </div>
        <hr>
        <div class="row">
            <h6 class="font-weight-bold text-info col-md-4">Enter New password</h6>
            <input type="password" class="form-control container-fluid col-md-8" name="adminnewpass" id="adminnewpass" placeholder="New password">
        </div><br>
        <div class="row">
            <h6 class="font-weight-bold text-info col-md-4">Re-enter New password</h6>
            <input type="password" class="form-control container-fluid col-md-8" name="radminnewpass" id="radminnewpass" placeholder="Re-enter new password">
        </div>
        <br>
        <input type="submit" class="btn btn-block btn-outline-danger" value="Change admin password">
    </form>

        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card shadow mb-4 ">
        <div class="card-header py-3">
            <h6 class="text-primary font-weight-bold">User password change</h6> 
        </div>
        <div class="card-body">
    <form action="#" method="POST">
        <div class="row">
            <h6 class="font-weight-bold text-primary col-md-4">Select User from list</h6>
            <select name="selectuser" id="selectuser" class="form-control col-md-8">
                <option value="0"  class="form-control">-- Select user from list --</option>
                {% for user in user_list %}
                <option value="{{user.id}}"  class="form-control">{{user.username}} -- {{user.utilname}}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <div class="row">
            <h6 class="font-weight-bold text-info col-md-4">Enter New password</h6>
            <input type="password" class="form-control container-fluid col-md-8" name="usernewpass" id="usernewpass" placeholder="New password">
        </div><br>
        <div class="row">
            <h6 class="font-weight-bold text-info col-md-4">Re-enter New password</h6>
            <input type="password" class="form-control container-fluid col-md-8" name="rusernewpass" id="rusernewpass" placeholder="Re-enter new password">
        </div>
        <hr>
        <div class="row">
            <h6 class="font-weight-bold text-danger col-md-4">Enter administrator password</h6>
            <input type="password" class="form-control container-fluid col-md-8" name="adminpass" id="adminpass" placeholder="New password">
        </div><br>
        <input type="submit" class="btn btn-block btn-outline-danger" value="Change user password">
    </form>

        </div>
    </div>
    </div>
</div>
    

{% endblock %}