{% extends 'psdf_main/includes/admin_layout.html'%} {% load custom_tags %} {% load static %} {% block body %}

<div class="row">
    <div class="col-md-4">
        <h1 class="h3 mb-2 text-gray-800">Payment Release</h1>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show col-md-8" role="alert" style="margin: auto;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
    </div>
</div>

<hr>
<br>

<div class="row">


    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#format" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-info">View Instructions</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="format">
                <div class="card-body">
                    <div class="row">
                        lorem ipsum dolor
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% if not projs and not loas and not thisloa%}
<br>
<br>
<h3 class="font-weight-bold text-danger center">No open LOA is pending for payment</h3>

{% endif %}
{% if projs and not loas and not thisloa%}
<div class="row">
    <div class="col-lg-4 center">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Select project</h6>
            </div>
            <div class="card-body">

                <div class="input-group" style="height:200px">

                    <form action="{% url 'admin_pay_proj' %}" method="POST" class="row" name='projform' id='projform'>
                        {% csrf_token %}
                        <div class="input-group container" style="margin-top:20%">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="projid" class="font-weight-bold">Select project</label> &nbsp;&nbsp;&nbsp;</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <select name="projid" id="projid" class="form-control" onchange="autosubmitproj()">
                            <option value="0"  class="form-control">-- Select project from list --</option>
                            {% for proj in projs %}
                            <option value="{{proj.id}}"  class="form-control"><strong>{{proj.newid}} {{proj.name}}</strong></option>
                            <hr>
                            {% endfor %}
                        </select>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <br>

            </div><br>

        </div>
    </div>

</div>
{% endif %}
{% if loas and thisproj and not thisloa %}
<div class="row">

    <div class="col-lg-4 center">

        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">LOAs for project ID [ {{thisproj.newid}} ] </h6>
            </div>
            <div class="card-body">

                <div class="input-group" style="height:200px">
Project name: <strong class="text-danger"> {{thisproj.name}}</strong>
                    <form action="{% url 'admin_pay' %}" method="POST" class="row" name='loaform' id='loaform'>
                        
                        {% csrf_token %}
                        <div class="input-group container" style="margin-top:20%">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="loaid" class="font-weight-bold">Select project</label> &nbsp;&nbsp;&nbsp;</div>
                                <div class="col-md-2"></div>
                                <input type="hidden" value="{{thisproj.id}}" name="projid" id="projid">
                                <div class="col-md-6">
                                    <select name="loaid" id="loaid" class="form-control" onchange="autosubmit()">
                            <option value="0"  class="form-control">-- Select LOA from list --</option>
                            {% for loa in loas %}
                            <option value="{{loa.id}}"  class="form-control">Amount: ₹ {{loa.amt}} | Submission Date: {{loa.subdate}}</option>
                            

                            <hr>
                            {% endfor %}
                        </select>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <br>

            </div><br>

        </div>
    </div>

</div>
{% endif %} {% if proj and thisloa %}
<div class="row">

    <div class="col-lg-4">

        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Selected</h6>
            </div>
            <div class="card-body">

                

                <p class="text-dark font-weight-bold">LOA for project:<h5 class="m-0 font-weight-bold text-danger"> <a href="/admin_project_details/{{thisloa.project.id}}" class="font-weight-bold text-danger">{{thisloa.project.name}}</a></h5> </p>
                
                <div class="row">
                <div class="col-md-6"><p class="text-info font-weight-bold">Approved Amount:</p>
                <h5 class="m-0 font-weight-bold text-dark">₹ {% roundoff thisloa.project.amt_approved %}</h5><br>
            </div>
            <div class="col-md-6">
                <p class="text-info font-weight-bold">Amount:</p>
                <h5 class="m-0 font-weight-bold text-dark">₹ {% roundoff thisloa.amt %}</h5><br>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <p class="text-info font-weight-bold">Date of LOA submission:</p>
                <h5 class="m-0 font-weight-bold text-dark"> {{thisloa.subdate}}</h5>
            </div>
            <div class="col-md-6">
                <p class="text-info font-weight-bold">LOA Amount:</p>
                <h5 class="m-0 font-weight-bold text-dark">₹ {{thisloa.amt}}</h5></div>
            </div>
            <hr>
                <a href="/downloadloa/{{thisloa.id}}" class="btn btn-am btn-block btn-outline-warning">Download</a>
            </div><br>

        </div>
        <h5><a href="/admin_pay" class="btn btn-block btn-ouline-primary">BACK</a></h5>
    </div>
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Enter Payment Details</h6>
            </div>
            <div class="card-body">


                <form action="{% url 'approve_admin_pay' %}" method="POST" class="row" name='initform' id='initform' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{thisloa.id}}" name="loaid" id="loaid" required>
                    <input type="hidden" value="{{thisloa.project.id}}" name="projid" id="projid" required>
                    <div class="input-group container">
                        Enter payment Reference number: &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control input-group-append bg-gray-200 border-0 small" placeholder="Unique transaction ID or reference number" name="refno" id="refno" required>
                    </div>
                    <div class="input-group container">
                        Enter amount (in ₹ ): &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="number" class="form-control input-group-append bg-gray-200 border-0 small" placeholder="Enter transaction amount (in ₹ )" name="amt" id="amt" required>
                    </div>
                    <div class="input-group container">
                        Upload supporting file: &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="file" class="form-control-file btn btn-outline-info border-bottom-info col-md-6" name="reciept" id="reciept">
                    </div>

                    <div class="input-group container">
                        Remark: &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control input-group-append bg-gray-200 border-0 small" placeholder="Enter remark" name="remark" id="remark">
                    </div>
                    <div class="input-group container">
                        Enter Administrator password: &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="password" class="form-control input-group-append small" placeholder="Enter administrator password to proceed" name="adminpass" id="adminpass" required>
                    </div>
                    <hr>
                    <div class="input-group container">
                        <input type="submit" class="btn btn-outline-success btn-lg" value="Inform {{thisloa.user.utilname}}">
                    </div>
                </form>

                <hr>

            </div><br>

        </div>
    </div>
</div>

{% endif %}


<script>
    function autosubmit() {
        var projectid = document.getElementById('loaid')
        var projform = document.getElementById('loaform')
        if (projectid.value != '0') {
            projform.submit();
        }

    }
    function autosubmitproj() {
        var projectid = document.getElementById('projid')
        var projform = document.getElementById('projform')
        if (projectid.value != '0') {
            projform.submit();
        }

    }
</script>

{% endblock %}