{% extends 'psdf_main/includes/admin_layout.html'%} {% load custom_tags %}{% load static %} {% block body %}
<div class="row container-fluid">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total amount released</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {% roundoff paytotal %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Total amount pending</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {% roundoff pendingamt %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Total amount of all LOAs</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {% roundoff loatotal %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total initial payment released</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {% roundoff totalinit %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show col-md-8" role="alert" style="margin: auto;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
    </div>
</div>





<div class="col-lg-12">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-dark text-center">Payments
            </h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">

                        <a href="#subboq" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">Details of payment against LOA</h6>
                        </a>

                        <div class="collapse" id="subboq">
                            <br>
                            <i class="container-fluid">Lorem ipsum </i><input type="text" id="temp_proj_search" class="form-control input-text pull-right border-left-warning container-fluid" onkeyup="get_temp_proj('temp_proj_search','dataTable')" placeholder="Search by Project ID" title="Search" style="margin:auto; width: 30%;">
                            <br><br>
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Project ID</th>
                                                <th>Project name</th>
                                                <th class="alert-warning">LOA Amount</th>
                                                <th class="alert-warning">LOA Details</th>
                                                <th>Payment release date</th>
                                                
                                                <th>Payment amount (in ₹)</th>
                                                <th>Payment Doc</th>
                                                <th>Refernence no.</th>
                                                <th>Remark</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                
                                            <tr>
                                                <th>Project ID</th>
                                                <th>Project name</th>
                                                <th class="alert-warning">LOA Amount</th>
                                                <th class="alert-warning">LOA Details</th>
                                                <th>Payment release date</th>
                                                
                                                <th>Payment amount (in ₹)</th>
                                                <th>Payment Doc</th>
                                                <th>Refernence no.</th>
                                                <th>Remark</th>
                                                <th>View</th>
                                            </tr>
                
                                        </tfoot>
                
                                        <tbody>
                                            {% for pay in all_pays %}
                                            <tr>
                                                <td>{{pay.project.newid}}</td>
                                                <td><a href="/admin_project_details/{{pay.project.id}}" class="font-weight-bold text-danger">{{pay.project.name}}</a></td>
                                                <td class="wrap-text" style="white-space: pre-wrap;">₹ {% roundoff pay.loa.amt %}</td>
                                                <td><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#view_loa{{pay.id}}">LOA Details</button></td>
                                                <td>{{pay.release_date}}</td>
                                                
                                                <td>₹ {% roundoff pay.amount %}</td>
                                                <td><a href="/downloadpay/{{pay.id}}" class="btn btn-sm btn-outline-warning">Download</a></td>
                                                <td class="text-danger font-weight-bold"><i>"{{pay.ref_no}}"</i></td>
                                                <td><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#view_remark{{pay.id}}">View</button></td>
                                                <td><button type="button" class="btn-circle btn btn-outline-success" data-toggle="modal" data-target="#view_pay{{pay.id}}"><i class="fa fa-eye"></i></button></td>
                                            </tr>

                                            <div class="modal fade" id="view_remark{{pay.id}}" tabindex="-1" role="dialog" aria-labelledby="view_remark{{pay.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="">Remark for payment with ref no {{pay.ref_no}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <br>
                                                            <h6 class="text-center"><strong>{{pay.remark}}</strong></h6>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="view_loa{{pay.id}}" tabindex="-1" role="dialog" aria-labelledby="view_loa{{pay.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="">LOA detials of the payment</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4">Total LOA amount</div>
                                                                <div class="col-md-3">Total amount released</div>
                                                                <div class="col-md-4">LOA submission date</div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>₹ {{pay.loa.amt}}</strong></h6></div>
                                                                <div class="col-md-3"><h6 class="text-primary"><strong>{{pay.loa.amt_released}}</strong></h6></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>{{pay.loa.subdate}}</strong></h6></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4">LOA acknowledgement date</div>
                                                                <div class="col-md-3">LOA completion date</div>
                                                                <div class="col-md-4">LOA document download</div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>{% if pay.loa.ackdate %} {{pay.loa.ackdate}} {% else %}Not Available {% endif %}</strong></h6></div>
                                                                <div class="col-md-3"><h6 class="text-primary"><strong>{% if pay.loa.compdate %} {{pay.loa.compdate}} {% else %}Not Available {% endif %}</strong></h6></div>
                                                                <div class="col-md-4"><a href="/downloadloa/{{pay.loa.id}}" class="btn btn-sm btn-outline-danger">Download</a></div>
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="view_pay{{pay.id}}" tabindex="-1" role="dialog" aria-labelledby="view_pay{{pay.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="">Details of payment with ref no {{pay.ref_no}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4">Exact payment amount</div>
                                                                <div class="col-md-3">To entity</div>
                                                                <div class="col-md-4">For project</div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>₹ {{pay.amount}}</strong></h6></div>
                                                                <div class="col-md-3"><h6 class="text-primary"><strong>{{pay.user.utilname}}</strong></h6></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>{{pay.project.name}}</strong></h6></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4">Payment release date</div>
                                                                <div class="col-md-3">Payment recieve date</div>
                                                                <div class="col-md-4">LOA placement date</div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>₹ {{pay.release_date}}</strong></h6></div>
                                                                <div class="col-md-3"><h6 class="text-primary"><strong>{{pay.recv_date}}</strong></h6></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>{{pay.loa.subdate}}</strong></h6></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4">Download Payment document</div>
                                                                <div class="col-md-3">Total amount released for corresponding LOA</div>
                                                                <div class="col-md-4">LOA acknowledgement date</div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-4"><a href="/downloadpay/{{pay.id}}" class="btn btn-sm btn-outline-danger">Download</a></div>
                                                                <div class="col-md-3"><h6 class="text-primary"><strong>₹ {{pay.loa.amt_released}}</strong></h6></div>
                                                                <div class="col-md-4"><h6 class="text-primary"><strong>{{pay.loa.ackdate}}</strong></h6></div>
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}

                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">

                        <a href="#aprboq" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-success">Detials of initial payment after Document singing</h6>
                        </a>

                        <div class="collapse" id="aprboq">
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Project ID</th>
                                                <th>Project name</th>
                                                <th>Sanction Order</th>
                                                <th>Signing Document</th>
                                                <th>Payment release date</th>
                                                <th>Payment recieve date</th>
                                                <th>Payment amount (in ₹)</th>
                                                <th>Payment Document</th>
                                                <th>Refernence no.</th>
                                                <th>Project Remark</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                
                                            <tr>
                                                <th>Project ID</th>
                                                <th>Project name</th>
                                                <th>Sanction Order</th>
                                                <th>Signing Document</th>
                                                <th>Payment release date</th>
                                                <th>Payment recieve date</th>
                                                <th>Payment amount (in ₹)</th>
                                                <th>Payment Document</th>
                                                <th>Refernence no.</th>
                                                <th>Project Remark</th>
                                            </tr>
                
                                        </tfoot>
                
                                        <tbody>
                                            {% if not all_init_pays %}
                                            <tr>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                                <td>Not Available</td>
                                            </tr>
                                            {% else %} {% for pay in all_init_pays %}
                                            <tr>
                                                <td>{{pay.project.newid}}</td>
                                                <td><a href="/admin_project_details/{{pay.project.id}}" class="font-weight-bold text-danger">{{pay.project.name}}</a></td>
                                                <td><a href="/download_sanction/{{pay.project.id}}" class="btn btn-sm btn-outline-danger">Sanction Order</a></td>
                                                <td><a href="/download_doc_sign/{{pay.project.id}}" class="btn btn-sm btn-outline-warning">Download</a></td>
                                                <td>{{pay.release_date}}</td>
                                                <td>{{pay.recv_date}}</td>
                                                <td class="wrap-text font-weight-bold">₹ {% roundoff pay.amount %}</td>
                                                <td><a href="/downloadinitpay/{{pay.id}}" class="btn btn-sm btn-outline-info">Download</a></td>
                                                <td class="text-danger font-weight-bold"><i>"{{pay.ref_no}}"</i></td>
                                                <td>{{pay.project.remark}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<script>
    function get_temp_proj(btnID, rpc) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(btnID);
        filter = input.value.toUpperCase();
        table = document.getElementById(rpc);
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}