{% extends 'psdf_main/includes/layout.html'%} {% load custom_tags %}{% load static %} {% block body %}


<div class="container-fluid">
    <a href="/">
        <h4>Home</h4>
    </a>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                <a href="" class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                    data-toggle="modal" data-target="#downloads">Download User uploads</a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                <a href="" class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                                    data-toggle="modal" data-target="#tesgdetails">View TESG Details</a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <button type="button" class="btn-sm btn btn-outline-primary py-1" data-toggle="modal"
                            data-target="#modalfordates">
                             Dates and Events
                        </button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                            data-target="#workflow">
                            <h6 class="m-0 font-weight-bold">Workflows</h6>
                        </button>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show col-md-8" role="alert" style="margin: auto;">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>

    <div class="row">

        <div class="col-lg-8">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-success">
                        Project ID: {{proj.newid}}


                    </h5>
                </div><br>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <h6 class="m-0 font-weight-bold text-danger">Project name</h6>

                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-danger">User</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <h4 class="m-0">{{proj.name}}</h4>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="font-weight-bold btn btn-outline-dark">
                            <h4 class="m-0">{{proj.userid.username}}</h4>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row container-fluid">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold text-primary">Funding Category</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold text-primary">Original Schedule</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold text-primary">Extensions</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold">{{proj.fundcategory}}</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold">{{proj.orischedule}}</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-info btn-sm " data-toggle="modal"
                            data-target="#modalforext">
                            List all
                        </button>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"
                            data-target="#modalforval">
                            Exact Values
                        </button>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <br>

                <div class="modal fade" id="modalforext" tabindex="-1" role="dialog" aria-labelledby="modalforext"
                    aria-hidden="true">
                    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="text-primary text-uppercase"><strong>previous extensions for
                                        {{ext.name}} ({{ext.newid}})</strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if not ext.extensions %}
                                <h5 class="text-danger">No Extension requests were filed, this is the first request</h5>
                                {% else %}
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 text-dark">Schedule Requested</div>
                                    <div class="col-md-4 text-dark">Supporting File</div>
                                    <div class="col-md-2"></div>
                                </div>
                                <hr>

                                {% for ext in ext.extensions %}
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 text-dark font-weight-bold">{{ext.exttime}} Months</div>
                                    <div class="col-md-4"><a href="/download_ext_file/{{proj.id}}_{{ext.filename}}"
                                            class="btn btn-outline-primary btn-block">Download</a></div>
                                    <div class="col-md-2"></div>
                                </div>
                                <hr>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalforval" tabindex="-1" role="dialog" aria-labelledby="modalforval"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="text-danger text-uppercase"><strong>Exact costing and payment values
                                        </strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold text-primary">Updated BoQ cost</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold text-primary">Submitted BoQ cost</h6>
                                    </div>

                                </div>
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold">₹{{ proj.amt_updated }}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold">₹{{proj.amt_asked }}</h6>
                                    </div>
                                   
                                </div><br><hr><br>
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold text-primary">Approved Grant</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold text-primary">Payment Released</h6>
                                    </div>
                                    
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold">₹{{proj.amt_approved}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="m-0 font-weight-bold">₹{{ total_payment }}</h6>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row container-fluid">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold text-primary">Updated BoQ cost</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold text-primary">Submitted BoQ cost</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold text-primary">Approved Grant</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold">₹{% roundoff proj.amt_updated %}</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold">₹{% roundoff proj.amt_asked %}</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        <h6 class="m-0 font-weight-bold">₹{% roundoff proj.amt_approved %}</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>



                <hr>
                <div class="modal fade" id="modalfordates" tabindex="-1" role="dialog" aria-labelledby="modalfordates"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-danger"><strong>Dates of various milestones while project processing</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">DPR Submission Date</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">DPR Acceptance Date</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">TESG Acceptance</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Appraisal Acceptance</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.dprsubdate}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.dpraprdate}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.tesgaprdate}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.appraprdate}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                                <hr>
                                <div class="row container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Date of approval by monitoring
                                            committee</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Date of issue of sanction order by
                                            MoP</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Date of Document Signing</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Project completion date</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                                <div class="row  container-fluid">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.moniaprdate}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.sanction_date}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.doc_sign_date}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="m-0 font-weight-bold">{{proj.compdate}}</h6>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row container-fluid">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-outline-primary btn-responsive" data-toggle="modal"
                            data-target="#subBoQ">
                            <h6 class="m-0 font-weight-bold">View Submitted BoQ</h6>
                        </button>

                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-outline-success btn-responsive" data-toggle="modal"
                            data-target="#aprBoQ">
                            <h6 class="m-0 font-weight-bold">View Approved BoQ</h6>
                        </button>

                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-primary">Total payment released</h6>
                        <h5 class="font-weight-bold">₹ {% roundoff total_payment %}</h5>
                    </div>
                    <!-- <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-outline-warning btn-responsive" data-toggle="modal" data-target="#upBoQ">
                            <h6 class="m-0 font-weight-bold">View Updated BoQ</h6>
                        </button>

                    </div> -->
                </div>
                <br>
                <hr>
                <br>
                <div class="row container-fluid">

                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">

                    </div>


                    <div class="col-md-5">
                        <h6 class="text-uppercase text-danger">Remark</h6>

                    </div>

                    <div class="col-md-2">
                        <h6 class="text-danger">Remark Date</h6>

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row container-fluid">

                    <div class="col-md-3">

                    </div>


                    <div class="col-md-5">
                        <h6 class="font-weight-bold">{{proj.remark}}</h6>

                    </div>

                    <div class="col-md-2">
                        <h6 class="font-weight-bold">{{proj.remark_date}}</h6>

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>



                <br>
                <hr>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <!-- <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-success">
                        Project ID: 
                    </h5>
                </div> -->
                <div class="card-body">
                    <div class="card border-bottom-success shadow h-50 py-1">
                        <a href="/download_sanction/{{proj.id}}" class="font-weight-bold text-success">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <div class="font-weight-bold text-success mb-1">Download Sanction Order</div>
                                    </div>

                                    <div class="col-auto">
                                        <i class="fa fa-folder fa-2x text-gray-200"></i>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card border-bottom-primary shadow h-50 py-1">
                        <a href="/download_doc_sign/{{proj.id}}" class="font-weight-bold text-primary">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <div class="font-weight-bold text-primary mb-1">Signing Document</div>
                                    </div>

                                    <div class="col-auto">
                                        <i class="fa fa-folder fa-2x text-gray-200"></i>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-danger text-center">
                        Current Status
                    </h6>
                </div>
                {% if proj.deny == True %}
                <div class="card-body alert-danger text-center text-uppercase">
                    <h6 class="font-weight-bold">PROJECT REJECTED</h6>
                </div>
                {% elif proj.status == '1' %}
                <div class="card-body alert-info text-center text-uppercase">
                    <h6 class="font-weight-bold">Under Techno-Economic clearance</h6>
                </div>

                {% elif proj.status == '2' %}
                <div class="card-body alert-primary text-center text-uppercase">
                    <h6 class="font-weight-bold">under appraisal committee</h6>
                </div>

                {% elif proj.status == '3' %}
                <div class="card-body alert-danger text-center text-uppercase">
                    <h6 class="font-weight-bold">under monitoring comittee</h6>
                </div>

                {% elif proj.status == '4' %}
                <div class="card-body alert-warning text-center text-uppercase">
                    <h6 class="font-weight-bold">Sanction Order released</h6>
                </div>

                {% elif proj.status == '5' %}
                <div class="card-body alert-success text-center text-uppercase">
                    <h6 class="font-weight-bold">Document Signing process</h6>
                </div>

                {% elif proj.status == '6' %}
                <div class="card-body alert-primary text-center text-uppercase">
                    <h6 class="font-weight-bold">Payment in process</h6>
                </div>
                {% endif %}

            </div>
            <div class="card shadow mb-4">
                <!-- <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-success">
                        Project ID: 
                    </h5>
                </div> -->

                <div class="card-body">
                    <div class="card border-bottom-primary shadow h-50 py-1">
                        <a href="/download_data_bank/{{proj.id}}" class="font-weight-bold text-primary">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <div class="font-weight-bold text-primary mb-1 text-uppercase">Download Data
                                            Bank</div>
                                    </div>

                                    <div class="col-auto">
                                        <i class="fa fa-server fa-2x text-gray-400"></i>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="subBoQ" tabindex="-1" role="dialog" aria-labelledby="subBoQ" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black-50" id="">Submitted BoQ Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Item No. </th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Cost</th>
                            </tr>
                        </thead>


                        <tbody>
                            {% for boq in sub_boq %}
                            <tr>
                                <td>{{boq.itemno}}</td>
                                <td>{{boq.itemname}}</td>
                                <td>{{boq.itemdesc}}</td>
                                <td>{{boq.itemqty}}</td>
                                <td>₹ {{ boq.unitcost }}</td>
                                <td>₹ {% multiply boq.itemqty boq.unitcost %}</td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="font-weight-bold">Grand Total</td>
                                <td>
                                    <h6 class="font-weight-bold text-danger">₹ {{sub_boq_total}} </h6>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<div class="modal fade" id="aprBoQ" tabindex="-1" role="dialog" aria-labelledby="aprBoQ" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black-50" id="">Approved BoQ Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Item No. </th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not approved_boq %}
                            <tr>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                            </tr>
                            {% else %} {% for boq in approved_boq %}
                            <tr>
                                <td>{{boq.itemno}}</td>
                                <td>{{boq.itemname}}</td>
                                <td>{{boq.itemdesc}}</td>
                                <td>{{boq.itemqty}}</td>
                                <td>₹ {{boq.unitcost}}</td>
                                <td>₹ {% multiply boq.itemqty boq.unitcost %}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="font-weight-bold">Grand Total</td>
                                <td>
                                    <h6 class="font-weight-bold text-danger">₹ {{approved_boq_total}} </h6>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="tesgdetails" tabindex="-1" role="dialog" aria-labelledby="tesgdetails" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black-50" id="">TESG Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover" width="100%" cellspacing="0"
                    style="table-layout: fixed; width: 100%;">
                    <thead>
                        <tr>
                            <th>TESG no.</th>
                            <th>TESG outcome Description</th>
                            <th>TESG outcome download</th>
                            <th>Entity Response Description</th>
                            <th>Entity Reponse Download</th>
                            <th>Response Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for tesg in tesgs %}
                        <tr>
                            <td>{{tesg.tesgnum.TESG_no}}</td>
                            <td>{{tesg.admin_outcome}}</td>
                            <td><a href="/downloadTESGrequest/{{tesg.id}}" class="btn btn-outline-info">Download</a>
                            </td>
                            <td>{{tesg.user_response}}</td>
                            {% if tesg.user_reponse == '' %}
                            <td>Awaiting Response</td>
                            {% else %}
                            <td><a href="/downloadTESGresponse/{{tesg.id}}" class="btn btn-outline-info">Download</a>
                            </td>

                            {% endif %}
                            <td>{{tesg.user_res_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloads" tabindex="-1" role="dialog" aria-labelledby="downloads" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black-50" id="">Project Downloads</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3 font-weight-bold">Download DPR :</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 font-weight-bold">Download Forms by user :</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 font-weight-bold">Download Supporting Docs:</div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <a class="btn btn-outline-info" href="/download_project/DPR_{{proj.id}}"><i
                                class="fas fa-download"></i> Download</a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 font-weight-bold">
                        <a class="btn btn-outline-danger" href="/download_project/forms_{{proj.id}}"><i
                                class="fas fa-download"></i> Download</a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <a class="btn btn-outline-warning" href="/download_project/otherdocs_{{proj.id}}"><i
                                class="fas fa-download"></i> Download</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="reject" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black-50" id="">Project Rejected</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <h6 class="m-0 font-weight-bold text-danger">Rejection Date:</h6>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <h6 class="m-0 font-weight-bold text-danger">Remark</h6>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <h6 class="m-0 font-weight-bold text-danger">Rejected During</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <h5 class="m-0">{{proj.denydate}}</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <h5 class="m-0">{{proj.remark}}</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="workflow" tabindex="-1" role="dialog" aria-labelledby="workflow" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h3 class="modal-title font-weight-bold" id="">Workflow</h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body card m-0">
                <div class="list-group">
                    {% for work in proj.workflow %}
                    <button type="button" class="list-group-item list-group-item-action">{{work}}</button> {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>




<script>
    function get_temp_proj(btnID, rpc) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(btnID);
        filter = input.value.toUpperCase();
        table = document.getElementById(rpc);
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}